@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

.image-wrapper{
    position: relative;
    width: 100%;
    max-width: 1080px;
    aspect-ratio: 70/45;
    margin: 2rem auto;
}


@layer components {
    .card{
        @apply rounded-xl shadow-lg;
    }
}